* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* Shared Styles */

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 15px 25px;
  border: none;
  margin: 2rem auto;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
main {
  max-width: 1100px;
  margin: 0 auto;
}

.section-description {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-top: 10px;
}

.section-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}

/* Header Styles */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 1.6rem;
}
nav li a {
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
}

/* Banner Styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 116px;
  margin-bottom: 10px;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.banner img {
  width: 100%;
}

.team-container {
  display: flex;
  align-items: center;
  margin: 80px auto;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-content {
  padding-left: 70px;
  padding-right: 70px;
}
.team-title {
  color: #727272;
  font-size: 2.5rem;
  font-weight: 500;
}
.team-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

.features {
  color: #ff900e;
  font-weight: 700;
}
.our {
  color: #131313;
  font-size: 2.7rem;
  font-weight: 700;
}

/* Facts section Styles */
.facts-box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.facts-box {
  border: 1px solid gray;
  text-align: center;
  padding: 40px 30px;
}
.states {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #424242;
  font-size: 45px;
  font-weight: 600;
  line-height: normal;
}

.facts-content {
  max-width: 542px;
}
.facts-description {
  text-align: left;
  margin-bottom: 80px;
}

/* Sponsor section styles */
.sponsor {
  margin-top: 80px;
}
.sponsor-content {
  margin: 0 auto;
  text-align: center;
}
.sponsor-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.sponsor-img-container img {
  margin: 10px auto;
  padding: 10px;
}
/* Small/mobile device */

@media screen and (max-width: 576px) {
  .nav,
  .team-container,
  .facts-box-container,
  .sponsor-img-container {
    flex-direction: column;
  }
  header,
  .team-content {
    padding: 0 20px;
  }
  .team-img-container {
    grid-template-columns: 1fr;
  }
  .facts-content {
    padding: 0 20px;
  }
  .facts-box {
    margin-top: 10px;
  }
}

/* Medium device */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .nav,
  .facts-box-container,
  .team-container,
  .sponsor-img-container {
    flex-direction: column;
  }
  header {
    padding: 20px;
    margin: auto;
  }
  .facts-content {
    padding: 0 20px;
    width: 100%;
    padding: 0 20px;
  }
  .facts-box-container {
    margin-top: 10px;
    gap: 20px;
  }
}
