* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* Shared Styles */

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 15px 25px;
  border: none;
  margin: 2rem auto;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
main {
  max-width: 1100px;
  margin: 0 auto;
}

/* Header Styles */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 1.6rem;
}
nav li a {
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
}
.nav-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}

/* Banner Styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 116px;
  margin-bottom: 10px;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.banner img {
  width: 100%;
}
.banner-description {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-top: 10px;
}

.team-container {
  display: flex;
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-content {
  padding-left: 70px;
  padding-right: 70px;
}
.team-title {
  color: #727272;
  font-size: 2.5rem;
  font-weight: 500;
}
.team-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

.features {
  color: #ff900e;
  font-weight: 700;
}
.our {
  color: #131313;
}

@media screen and (max-width: 576px) {
  .nav {
    flex-direction: column;
  }
  header {
    padding: 20px;
  }
}

/* Team section styles */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .nav {
    flex-direction: column;
  }
  header {
    padding: 20px;
  }
}
